In [8]:
library(dplyr)
library(ggplot2)

df.hbw <- read.csv(paste("/Users/kevin/Desktop/",
                     "USP_587_data/HW2/household_hbw.csv", sep=""))
df.hia <- read.csv(paste("/Users/kevin/Desktop/",
                     "USP_587_data/HW2/2010_hia.csv", sep=""))

In [48]:
summary(df.hbw$hhveh)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  0.000   1.000   2.000   1.948   2.000   8.000

In [52]:
df.resveh <- df.hbw %>%
    select(resty, hhveh, htrips) %>%
    filter(resty != 9)%>%
    mutate(hhveh = recode(hhveh, `1` = 'foo')) %>%
    group_by(resty, hhveh) %>%
    summarize(., count=n(), avg_trips = mean(htrips))
    
df.resveh

Warning message:
“Unreplaced values treated as NA as .x is not compatible. Please specify replacements exhaustively or supply .default”

   resty hhveh count avg_trips
1  1     foo   1203   7.142145
2  1     NA    3939  11.397055
3  2     foo    110   6.881818
4  2     NA      78  11.679487
5  3     foo    613   6.905383
6  3     NA     387   8.400517
7  4     foo     61   5.213115
8  4     NA      46   6.239130
9  7     foo      2   3.000000
10 7     NA       5   4.000000